PyQt6>=6.4.0
Pillow>=9.3.0
numpy>=1.23.0
PyOpenGL>=3.1.6
PyOpenGL-accelerate>=3.1.6
typing>=3.7.4
tkinter>=8.6
vtf2img>=1.0.0
pop-file-parser>=1.0.0
json>=2.0.9
re>=2.2.1
sys>=3.8.0
os-sys>=2.1.4
random2>=1.0.1
